body{
	background-image: url("./fundo.jpg");
	font-family: "Calibri","Tahoma","Arial";
    line-height: 22px;
	font-size: 16px;
}

h1{
	color: #FFFFFF;
	font-size: 50px;
}

.caixa{
	width: 1200px;
	margin: 0px auto;
}

.drone{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC; 
    margin-bottom: 20px;
	padding: 20px;
}

.drone h2{
	margin: 0px;
	border-bottom: 1px dashed #7E9F19;
	border-width: 0px 0px 1px 0px;
	border-color: #7E9F19;  
}

a{
	color: #2C88A7;
	font-weight: 900;
	text-decoration:none;
	text-align: right;
}

a:hover{
	color: #DC143C;
}

.twitter{
   border-bottom: 1px dashed #7E9F19;
   clear: right;
}

.link,.twitter{
  text-align: right;
 }

img{
	width: 120px;  
	height: 150px;
	border: 1px solid #7E9F19 ;
	margin: 10px 10px 0px 0px;
	padding: 2px;
	float: left;
}

.rodape{
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}